ETH_NODE=http://localhost:8545
WATCHER_URL=http://localhost:7534
WATCHER_PROXY_URL=
PLASMAFRAMEWORK_CONTRACT_ADDRESS=0xc673e4ffcb8464faff908a6804fe0e635af0ea2f
ERC20_CONTRACT=0xedd7db3a2d8a93edc7f737048f9d84e6c9e40a41
ALICE_ETH_ADDRESS=
ALICE_ETH_ADDRESS_PRIVATE_KEY=
ALICE_ETH_DEPOSIT_AMOUNT=0.01
ALICE_ERC20_DEPOSIT_AMOUNT=20
ALICE_ETH_TRANSFER_AMOUNT=0.005
ALICE_ERC20_TRANSFER_AMOUNT=5
BOB_ETH_ADDRESS=
BOB_ETH_ADDRESS_PRIVATE_KEY=
MILLIS_TO_WAIT_FOR_NEXT_BLOCK=1000
BLOCKS_TO_WAIT_FOR_TXN=20
